.repoTable {
	table-layout: fixed;
}
.nameCol {
	width: 10em;
	word-wrap: break-word;
}

.starsCol {
	width: 10em;
	word-wrap: break-word;
}

.createdCol {
	width: 10em;
	word-wrap: break-word;
}

.descriptionCol {
	word-wrap: break-word;
}